* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: darkseagreen;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    img {
        max-width: 30rem;
    }
    h1 {
        text-align: center;
        color: darkslategrey;
    }
}

form {
    max-width: 45rem;
    padding: 4rem 1.5rem 4rem 1.5rem;
    background-color: dimgray;
    border-radius: 2rem;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: white;
    }
}

.display {
    height: 45rem;
    background-color: whitesmoke;
    border-radius: 0.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    input {
        height: 4rem;
        font-size: 2rem;
        width: 100%;
        padding-right: 1em;
        border-radius: 0.3rem;
        border: none;
        text-align: right;
        margin-bottom: 4rem;
        background-color: hsl(0, 0%, 80%);
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            display: none;
        }
    }
    .results {
        font-size: 1.8rem;
    }
}

.action-btns {
    display: flex;
    padding: 2rem 5% 0 5%;
    justify-content: space-between;
    button {
        width: 45%;
        padding: 0.5rem;
        cursor: pointer;
        background-color: hsl(0, 0%, 80%);
        font-size: 2rem;
        border-radius: 0.5rem;
        border: none;
    }
}

.hidden {
    display: none;
}
